# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\erikj\Desktop\matfyz\2 rocnik\programovanie 3\projekt\final\Jakubovský_projekt\projekt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
